// ----- Loading spinner -----

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}

.loader {
  position: relative;
  width: 10em;
  height: 10em;
  margin: 3em auto;
  font-size: 1rem;
  color: $primary-color;
  text-indent: -99999em;
  box-shadow: inset 0 0 0 1em;
  transform: translateZ(0);
}

.loader:before,
.loader:after {
  position: absolute;
  content: '';
  width: 5.4em;
  height: 10.4em;
  background: #fff;
}

.loader:before {
  border-radius: 10.4em 0 0 10.4em;
  top: -0.2em;
  left: -0.2em;
  transform-origin: 5.2em 5.2em;
  animation: load2 1.5s infinite ease 1.5s;
}

.loader:after {
  border-radius: 0 10.4em 10.4em 0;
  top: -0.2em;
  left: 5.2em;
  transform-origin: 0px 5.2em;
  animation: load2 1.5s infinite ease .375s;
}

@keyframes load2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
